In [1]:
import pandas as pd
import os, re

### Read Data Sources

In [2]:
# Read Excel File downloaded
NBAPlayers_file = os.path.join(".", "Resources", "NBAPlayers_By_State.xlsx")
NBAPlayers = pd.read_excel (NBAPlayers_file)

# Read NBA API file
players_file = os.path.join(".", "Resources", "players.csv")
players = pd.read_csv(players_file)

# Preview the main datasource
print(len(NBAPlayers)) 
NBAPlayers.head(165)

3406

,Player,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,...,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,BIRTHDATE,City,State
0,Michael Ansley,3,149,2143,383,746,0,0,260,360,...,0.513,NaN,0.722,14.4,6.9,4.2,0.4,1967-02-08 00:00:00,Birmingham,Alabama
1,Keith Askins,9,486,7983,677,1688,275,774,223,311,...,0.401,0.355,0.717,16.4,3.8,2.9,0.8,1967-12-15 00:00:00,Athens,Alabama
2,Carl Bailey,1,1,7,1,1,0,0,0,0,...,1,NaN,NaN,7,2,0,0,1958-04-23 00:00:00,Birmingham,Alabama
3,Charles Barkley*,16,1073,39330,8435,15605,538,2020,6349,8643,...,0.541,0.266,0.735,36.7,22.1,11.7,3.9,1963-02-20 00:00:00,Leeds,Alabama
4,Eric Bledsoe,7,380,10039,1657,3709,294,890,1042,1325,...,0.447,0.33,0.786,26.4,12.2,3.7,4.4,1989-09-12 00:00:00,Birmingham,Alabama
5,Tom Boswell,6,366,7046,1096,2058,6,11,623,860,...,0.533,0.545,0.724,19.3,7.7,4.7,1.6,1953-10-02 00:00:00,Montgomery,Alabama
6,David Bustion,1,47,355,58,133,0,0,42,59,...,0.436,NaN,0.712,7.6,3.4,2.1,0.4,1949-08-30 00:00:00,Gadsden,Alabama
7,Jason Caffey,8,462,9045,1276,2652,0,8,816,1282,...,0.481,0,0.637,19.6,7.3,4.4,0.9,1973-12-06 00:00:00,Mobile,Alabama
8,DeMarre Carroll,8,364,8190,1085,2404,327,889,418,581,...,0.451,0.368,0.719,22.5,8,3.8,1.1,1986-07-27 00:00:00,Birmingham,Alabama
9,Bobby Cattage,2,78,522,88,218,1,7,65,85,...,0.404,0.143,0.765,6.7,3.1,1.4,0.1,1958-08-17 00:00:00,Huntsville,Alabama
10,Derrick Coleman,15,781,25903,4616,10335,326,1105,3326,4326,...,0.447,0.295,0.769,33.2,16.5,9.3,2.5,1967-06-21 00:00:00,Mobile,Alabama
11,DeMarcus Cousins,7,441,14003,3305,7189,124,399,2367,3243,...,0.46,0.311,0.73,31.8,20.6,10.8,2.8,1990-08-13 00:00:00,Mobile,Alabama
12,Michael Curry,11,667,13208,1094,2448,79,265,719,872,...,0.447,0.298,0.825,19.8,4.5,1.6,1.2,1968-08-22 00:00:00,Anniston,Alabama
13,Fennis Dembo,1,31,74,14,42,0,4,8,10,...,0.333,0,0.8,2.4,1.2,0.7,0.2,1966-01-24 00:00:00,Mobile,Alabama
14,John Douglas,2,67,1043,182,395,19,61,69,104,...,0.461,0.311,0.663,15.6,6.7,1.4,2.2,1956-06-12 00:00:00,Town Creek,Alabama
15,Leon Douglas,7,456,10111,1386,2798,0,4,815,1355,...,0.495,0,0.601,22.2,7.9,6.5,1.1,1954-08-26 00:00:00,Leighton,Alabama
16,John Drew,11,739,21828,5481,11658,10,57,4319,5774,...,0.47,0.175,0.748,29.5,20.7,6.9,1.7,1954-09-30 00:00:00,Vredenburgh,Alabama
17,T.R. Dunn,14,993,23080,2030,4443,1,20,972,1341,...,0.457,0.05,0.725,23.2,5.1,4.4,1.6,1955-02-01 00:00:00,Birmingham,Alabama
18,Jim Farmer,5,136,1454,275,643,22,78,143,196,...,0.428,0.282,0.73,10.7,5.3,1.4,0.8,1964-09-23 00:00:00,Dothan,Alabama
19,Rod Foster,3,207,3446,631,1434,72,242,228,297,...,0.44,0.298,0.768,16.6,7.5,1.2,2.3,1960-10-10 00:00:00,Birmingham,Alabama
20,Mickell Gladness,1,26,252,25,59,0,0,6,12,...,0.424,NaN,0.5,9.7,2.2,2.2,0.2,1986-07-26 00:00:00,Birmingham,Alabama
21,Orlando Graham,1,7,22,3,10,0,0,2,4,...,0.3,NaN,0.5,3.1,1.1,1.6,0,1965-05-05 00:00:00,Montgomery,Alabama
22,Travis Grant,4,201,4309,1183,2257,2,6,399,492,...,0.524,0.333,0.811,21.4,13.8,4.1,1,1950-01-01 00:00:00,Clayton,Alabama
23,JaMychal Green,3,131,2475,352,756,30,103,166,216,...,0.466,0.291,0.769,18.9,6.9,5,0.8,1990-06-21 00:00:00,Montgomery,Alabama
24,Lamar Green,6,411,7304,893,2078,0,0,347,526,...,0.43,NaN,0.66,17.8,5.2,6.2,0.8,1947-03-22 00:00:00,Birmingham,Alabama
25,Darrin Hancock,3,133,1395,196,370,2,6,73,126,...,0.53,0.333,0.579,10.5,3.5,1.3,0.7,1971-03-11 00:00:00,Birmingham,Alabama
26,James Hardy,4,249,5379,611,1269,1,3,187,267,...,0.481,0.333,0.7,21.6,5.7,5.3,1.3,1956-12-01 00:00:00,Knoxville,Alabama
27,Johnny High,4,274,4538,508,1168,4,38,376,607,...,0.435,0.105,0.619,16.6,5.1,2.3,1.9,1957-04-25 00:00:00,Birmingham,Alabama
28,Cedrick Hordges,2,145,2971,425,894,3,16,246,385,...,0.475,0.188,0.639,20.5,7.6,5.9,1.2,1957-01-08 00:00:00,Montgomery,Alabama
29,Robert Horry,16,1107,27069,2820,6643,795,2329,1280,1762,...,0.425,0.341,0.726,24.5,7,4.8,2.1,1970-08-25 00:00:00,Andalusia,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Paul Silas,16,1254,34989,4293,9949,0,0,3196,4748,...,0.432,NaN,0.673,27.9,9.4,9.9,2.1,1943-07-12 00:00:00,Prescott,Arkansas
136,Jeff Taylor,2,56,818,70,170,0,1,39,56,...,0.412,0,0.696,14.6,3.2,1.5,2,1960-01-01 00:00:00,Blytheville,Arkansas
137,Jeff Webster,1,11,58,8,23,2,6,0,0,...,0.348,0.333,NaN,5.3,1.6,0.6,0.3,1971-02-19 00:00:00,Pine Bluff,Arkansas
138,Sonny Weems,4,183,3335,514,1106,34,120,127,181,...,0.465,0.283,0.702,18.2,6.5,2.2,1.4,1986-08-07 00:00:00,West Memphis,Arkansas
139,Corliss Williamson,12,822,18749,3603,7355,6,44,1935,2710,...,0.49,0.136,0.714,22.8,11.1,3.9,1.2,1973-04-12 00:00:00,Russellville,Arkansas
140,Jasper Wilson,2,70,815,136,360,6,14,88,135,...,0.378,0.429,0.652,11.6,5.2,2.7,0.6,1947-07-12 00:00:00,Camden,Arkansas
141,Alex Acker,2,30,234,34,92,8,25,5,10,...,0.37,0.32,0.5,7.8,2.7,1,0.5,1983-01-21 00:00:00,Compton,California
142,Mark Acres,6,375,5982,514,1016,7,13,308,463,...,0.506,0.538,0.665,16,3.6,4.1,0.5,1962-11-15 00:00:00,Inglewood,California
143,Hassan Adams,2,73,547,79,148,0,1,27,42,...,0.534,0,0.643,7.5,2.5,1.2,0.2,1984-06-20 00:00:00,Inglewood,California
144,Rick Adelman,7,462,10427,1381,3330,NaN,NaN,817,1146,...,0.415,NaN,0.713,22.6,7.7,2.4,3.5,1946-06-16 00:00:00,Lynwood,California
145,Arron Afflalo,10,671,19106,2793,6199,777,2029,1308,1590,...,0.451,0.383,0.823,28.5,11.4,3,1.9,1985-10-15 00:00:00,Los Angeles,California
146,Josh Akognon,1,3,9,2,4,1,2,0,0,...,0.5,0.5,NaN,3,1.7,0.3,0.3,1986-10-02 00:00:00,Greenbrae,California
147,Ray Allen,18,1300,46344,8567,18955,2973,7429,4398,4920,...,0.452,0.4,0.894,35.6,18.9,4.1,3.4,1975-07-20 00:00:00,Merced,California
148,Darrell Allums,1,22,276,23,67,0,1,13,22,...,0.343,0,0.591,12.5,2.7,3,1.1,1958-09-12 00:00:00,Los Angeles,California
149,Lou Amundson,10,428,5507,648,1368,0,3,268,603,...,0.474,0,0.444,12.9,3.7,3.6,0.4,1982-07-12 00:00:00,Ventura,California
150,Chris Andersen,15,695,12273,1336,2512,15,68,1068,1632,...,0.532,0.221,0.654,17.7,5.4,5,0.5,1978-07-07 00:00:00,Long Beach,California
151,Richard Anderson,6,407,6002,909,2206,148,445,294,386,...,0.412,0.333,0.762,14.7,5.6,3.5,1.5,1960-11-19 00:00:00,San Pedro,California
152,Ryan Anderson,9,512,13450,2330,5515,1054,2786,1001,1162,...,0.422,0.378,0.861,26.3,13.1,5.6,0.9,1988-06-05 00:00:00,Sacramento,California
153,Gilbert Arenas,11,552,19351,3722,8850,1079,3077,2879,3584,...,0.421,0.351,0.803,35.1,20.7,3.9,5.3,1982-06-01 00:00:00,Los Angeles,California
154,Brandon Armstrong,3,108,699,101,287,25,75,12,20,...,0.352,0.333,0.6,6.5,2.2,0.6,0.2,1980-06-16 00:00:00,San Francisco,California
155,Stacey Augmon,15,1001,21658,3037,6480,12,79,1904,2616,...,0.469,0.152,0.728,21.6,8,3.2,1.6,1968-08-01 00:00:00,Pasadena,California
156,Isaac Austin,9,432,8350,1295,2901,9,51,686,1024,...,0.446,0.176,0.67,19.3,7.6,4.7,1.2,1969-08-18 00:00:00,Gridley,California
157,Ken Austin,1,7,28,6,13,0,0,0,0,...,0.462,NaN,NaN,4,1.7,0.4,0.1,1961-07-15 00:00:00,Los Angeles,California
158,Dennis Awtrey,12,733,14159,1382,3009,0,0,752,1154,...,0.459,NaN,0.652,19.3,4.8,4.6,2,1948-02-22 00:00:00,Hollywood,California
159,Jeff Ayres,6,237,2322,287,519,2,5,114,147,...,0.553,0.4,0.776,9.8,2.9,2.7,0.4,1987-04-29 00:00:00,Ontario,California
160,Toby Bailey,2,73,698,92,226,3,15,54,78,...,0.407,0.2,0.692,9.6,3.3,1.7,0.6,1975-11-19 00:00:00,Los Angeles,California
161,Player,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,...,FG%,3P%,FT%,MP,PTS,TRB,AST,Date,City,California
162,Greg Ballard,11,802,22073,4220,8942,93,275,1420,1805,...,0.472,0.338,0.787,27.5,12.4,6.1,2.2,1955-01-29 00:00:00,Los Angeles,California
163,Don Barksdale*,4,262,7460,1016,2747,NaN,NaN,863,1307,...,0.37,NaN,0.66,28.5,11,8,2.1,1923-03-31 00:00:00,Oakland,California
164,Matt Barnes,14,880,20814,2666,6089,924,2767,983,1326,...,0.438,0.334,0.741,23.7,8.2,4.6,1.8,1980-09-03 00:00:00,Santa Clara,California

### Cleasing and Standardizing

In [3]:
# Remove asterisc from name.
NBAPlayers['Player'] = NBAPlayers['Player'].map(lambda x: re.sub(r'\*', '', x))
players['FULL_NAME'] = players['FULL_NAME'].map(lambda name: re.sub(r'\*', '', name))

# Capitalize Name
players['FULL_NAME'] = players['FULL_NAME'].str.title()
NBAPlayers['Player'] = NBAPlayers['Player'].str.title()

# Remove trash rows
NBAPlayers = NBAPlayers[ (NBAPlayers['Player'] != 'Player') ] 
NBAPlayers.dropna(subset=['3PA'],inplace=True)

# Set field to 0 when NaN

# Convert columns to correct datatype before run merging process
# ValueError: Unable to parse string "PTS" at position 161
NBAPlayers['PTS.1'] = pd.to_numeric(NBAPlayers['PTS.1'])
NBAPlayers['TRB.1'] = pd.to_numeric(NBAPlayers['TRB.1'])
NBAPlayers['AST.1'] = pd.to_numeric(NBAPlayers['AST.1'])

# Remove unnecessary columns
players.drop(['FIRST_NAME' ,'LAST_NAME','DISPLAY_LAST_COMMA_FIRST','PERSON_ID', \
            'PLAYERCODE','DISPLAY_FI_LAST' ,'PLAYER_NAME'], axis=1, inplace=True)

# Adjust some city names  
players['TEAM_CITY'].replace('LA','Los Angeles', inplace=True)
players['TEAM_CITY'].replace('New Orleans/Oklahoma City','New Orleans', inplace=True)

# Remove not NBA Players
selection = ~players['TEAM_CITY'].isin(['Baltimore', 'Buffalo', 'Cincinnati', 'Kansas City', 'San Diego', \
                                              'San Francisco', 'St. Louis'])
players = players[selection]
print(len(NBAPlayers))

2796

### Merge Option 1 (By name and stats)

In [4]:
# Merging Option 1
merged_opt_01 = pd.merge(NBAPlayers, players, left_on=['Player','PTS.1','TRB.1','AST.1'], \
                                              right_on=['FULL_NAME','PTS','REB','AST'], how='left')
merged_opt_01.head()

,Player,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,...,DRAFT_ROUND,DRAFT_NUMBER,IS_ACTIVE,affiliation_state,affiliation_country,TimeFrame,PTS_y,AST_y,REB,ALL_STAR_APPEARANCES
0,Michael Ansley,3,149,2143,383,746,0,0,260,360,...,2,37,False,Alabama,USA,career,6.9,0.4,4.2,0.0
1,Keith Askins,9,486,7983,677,1688,275,774,223,311,...,Undrafted,Undrafted,False,Alabama,USA,career,3.8,0.8,2.9,0.0
2,Carl Bailey,1,1,7,1,1,0,0,0,0,...,3,66,False,Tuskegee,USA,career,2.0,0.0,0.0,0.0
3,Charles Barkley,16,1073,39330,8435,15605,538,2020,6349,8643,...,1,5,False,Auburn,USA,career,22.1,3.9,11.7,9.0
4,Eric Bledsoe,7,380,10039,1657,3709,294,890,1042,1325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merge Option 2 (By name and birthdate)

In [5]:
# Merging Option 2

# Get rows that did not match on option 01
unresolved = merged_opt_01.copy()
unresolved = unresolved[ (unresolved['PLAYER_ID'].isnull() & unresolved['BIRTHDATE_y'].isnull()) ]

# Rename the column BIRTHDATE
unresolved.rename(columns={'BIRTHDATE_x':'BIRTHDATE'},inplace=True)

# Convert birthdate to datetime 
players['BIRTHDATE']= pd.to_datetime(players['BIRTHDATE'], format="%Y-%m-%d") #
unresolved['BIRTHDATE']= pd.to_datetime(unresolved['BIRTHDATE'], format="%Y-%m-%d") 

# Merge files by Name and Birthdate
merged_opt_02 = pd.merge(unresolved, players, left_on=['Player','BIRTHDATE'],\
                                            right_on=['FULL_NAME','BIRTHDATE'], how='inner')
 
print(len(merged_opt_02))
merged_opt_02.head()

327

,Player,Yrs,G,MP,FG,FGA,3P,3PA,FT,FTA,...,DRAFT_ROUND_y,DRAFT_NUMBER_y,IS_ACTIVE_y,affiliation_state_y,affiliation_country_y,TimeFrame_y,PTS,AST,REB_y,ALL_STAR_APPEARANCES_y
0,Demarre Carroll,8,364,8190,1085,2404,327,889,418,581,...,1,27,False,Missouri,USA,2018-19,11.1,1.3,5.2,0.092
1,Demarcus Cousins,7,441,14003,3305,7189,124,399,2367,3243,...,1,5,False,Kentucky,USA,2018-19,16.3,3.6,8.2,0.139
2,Travis Grant,4,201,4309,1183,2257,2,6,399,492,...,1,13,False,Kentucky State,USA,career,3.6,0.2,1.5,0.000
3,Jamychal Green,3,131,2475,352,756,30,103,166,216,...,Undrafted,Undrafted,False,Alabama,USA,2018-19,9.4,0.8,6.3,0.103
4,Lamar Green,6,411,7304,893,2078,0,0,347,526,...,3,33,False,Morehead State,USA,career,5.2,0.7,6.4,0.000

### Concatenate matched DataFrames

In [6]:
# Drop rows not merged from option_01
merged_opt_01.dropna(subset=['PLAYER_ID'],inplace=True)

# Select just columns we're gonna use on the project and rename them
merged_opt_01 = merged_opt_01[ ['Player','Yrs','City','State','COUNTRY','TEAM_CITY','SEASON_EXP','G', \
                                     'MP', 'FG%', '3P%', 'TRB','PTS_y'] ]

merged_opt_01.rename(columns= {'Player':'Player Name','Yrs':'Years Played','City':'Birth City','State':'Birth State', \
                               'COUNTRY':'Birth Country','TEAM_CITY':'Playing City','SEASON_EXP':'Seasons Played', \
                               'G':'Games Played', 'MP':'Minutes Played','FG%':'Field Goals %','3P%':'3 Points %', \
                               'TRB':'Total Rebounds','PTS_y':'Total Points'}, inplace=True)


# Select just columns we're gonna use on the project and rename them
merged_opt_02 = merged_opt_02[ ['Player','Yrs','City','State','COUNTRY_y','TEAM_CITY_y','SEASON_EXP_y','G', \
                 'MP', 'FG%', '3P%', 'TRB','PTS'] ]

merged_opt_02.rename(columns= {'Player':'Player Name','Yrs':'Years Played','City':'Birth City','State':'Birth State', \
                               'COUNTRY_y':'Birth Country','TEAM_CITY_y':'Playing City','SEASON_EXP_y':'Seasons Played', \
                               'G':'Games Played','MP':'Minutes Played','FG%':'Field Goals %','3P%':'3 Points %', \
                               'TRB':'Total Rebounds', 'PTS':'Total Points'}, inplace=True)

# Concat DFs
final_df = pd.concat([merged_opt_01, merged_opt_02])
print(len(final_df))
final_df.head()

2273

,Player Name,Years Played,Birth City,Birth State,Birth Country,Playing City,Seasons Played,Games Played,Minutes Played,Field Goals %,3 Points %,Total Rebounds,Total Points
0,Michael Ansley,3,Birmingham,Alabama,USA,Charlotte,2.0,149,2143,0.513,NaN,621,6.9
1,Keith Askins,9,Athens,Alabama,USA,Miami,8.0,486,7983,0.401,0.355,1428,3.8
2,Carl Bailey,1,Birmingham,Alabama,USA,Portland,0.0,1,7,1,NaN,0,2.0
3,Charles Barkley,16,Leeds,Alabama,USA,Houston,15.0,1073,39330,0.541,0.266,12546,22.1
5,Tom Boswell,6,Montgomery,Alabama,USA,Utah,5.0,366,7046,0.533,0.545,1709,7.7

In [7]:
# Save the final datasource.
# final_file = os.path.join(".", "Resources", "final_merge.csv")
# final_df.to_csv(final_file, encoding="utf-8", index=False)